/* 
website: My Programming Site v.01
author: MURI ASSUNCAO;
*/

body{
	background:#0A295C;
	
}

h1{
	color:#1C6DF7;
	font-family: Optima, Calibri, sans-serif;
	text-align: center;
	text-decoration: underline;

}

h1:hover{

	color: green;
}

p{
	color:#1CF6F7;
	text-transform: 
}

p:first-line{
	color:blue;
}

hr{
	border-color:#90FF0D;
}

#content{
	width:600px;
	background-color:#0BC9E8;
	border-width: 2px;
	border-style: solid;
	padding: 20px;
	margin: auto;
	border-radius: 100%;
	overflow: hidden;


}