body{
	background:#0A295C;
	
}

h1{
	color:#1C6DF7;
	font-family: Optima, Calibri, sans-serif;
	text-align: center;
	text-decoration: underline;

}

p{
	color:#1CF6F7;
	text-transform: 
}

hr{
	border-color:#90FF0D;
}